body {
  color: #555;
  background-color: #f2f2f0;
  font-family: "PT Sans", helvetica, arial, sans-serif;
}
nav.navbar {
  background-color: #fff;
  border-top: 4px solid #1e375f;
  border-bottom: 2px solid #ddd;
}
.navbar-brand {
  display: block;
  z-index: 999;
  background: transparent url("odbm_logo.svg") no-repeat 0 0;
  margin: 10px;
}